Repository certtools/intelmq, pull requests merged in 2018-03, with the labels that each got.

#1204 Shadowserver parser config: fix convert hostname_and_url
  intelmq/bots/parsers/shadowserver/config.py
Labels: bug, component: bots

#1172 New expert bot "wait"
  CHANGELOG.md
  docs/Bots.md
  intelmq/bots/BOTS
  intelmq/bots/experts/wait/__init__.py
  intelmq/bots/experts/wait/expert.py
  intelmq/tests/bots/experts/wait/__init__.py
  intelmq/tests/bots/experts/wait/test_expert.py
Labels: component: bots, feature request

#1189 Twitter collector and parser
  intelmq/bots/BOTS
  intelmq/bots/collectors/twitter/REQUIREMENTS.txt
  intelmq/bots/collectors/twitter/__init__.py
  intelmq/bots/collectors/twitter/collector_twitter.py
  intelmq/bots/parsers/twitter/REQUIREMENTS.txt
  intelmq/bots/parsers/twitter/__init__.py
  intelmq/bots/parsers/twitter/parser.py
  intelmq/tests/bots/collectors/twitter/__init__.py
  intelmq/tests/bots/collectors/twitter/test_collector_twitter.py
  intelmq/tests/bots/experts/sieve/test.sieve
  intelmq/tests/bots/parsers/twitter/__init__.py
  intelmq/tests/bots/parsers/twitter/test_parser.py
  intelmq/tests/bots/parsers/twitter/tweet.txt
Labels: component: bots, feature request

#1215 webinspector enchancement: add time.source
  intelmq/bots/parsers/webinspektor/parser.py
  intelmq/tests/bots/parsers/webinspektor/test_webinspektor.py
Labels: bug, component: bots

#1211 Shadowserver config.py: Code cleanup, fixes, validations
  intelmq/bots/parsers/shadowserver/config.py
Labels: component: bots, feature request

#1213 shouldn't that be IPv6?
  docs/Harmonization-fields.md
  intelmq/lib/harmonization.py
Labels: bug, documentation
