Repository certtools/intelmq, pull requests merged in 2018-10, with the labels that each got.

#1331 parameter changed in Generic URL Collector
  intelmq/bots/BOTS
Labels: bug, component: bots, documentation

#1330 Add Shadowserver Outdated-DNSSEC-Key(-IPv6)
  intelmq/bots/parsers/shadowserver/config.py
Labels: component: bots, feature request

#1338 Add Shadowserver Accessible-Rsync
  intelmq/bots/parsers/shadowserver/config.py
Labels: component: bots
