Repository certtools/intelmq, pull requests merged in 2019-11, with the labels that each got.

#1465 BUG: fix botnet restart logging message
  intelmq/bin/intelmqctl.py
Labels: bug, component: intelmqctl

#1463 Shadowserver parser config: Add missing fields for accessible-rdp
  intelmq/bots/parsers/shadowserver/config.py
Labels: bug, component: bots

#1468 misp collector: Add support for python 3.6+ pymisp, cleanup
  intelmq/bots/collectors/misp/collector.py
Labels: component: bots

#1472 fix: invalid MISP object template
  intelmq/bin/intelmq_generate_misp_objects_templates.py
Labels: bug
