Repository certtools/intelmq, pull requests merged in 2019-02, with the labels that each got.

#1344 Maxmind: Use registered_country instead of country
  intelmq/bots/experts/maxmind_geoip/expert.py
Labels: component: bots

#1366 collector http time-delta ability
  CHANGELOG.md
  docs/Bots.md
  intelmq/bots/collectors/http/collector_http.py
Labels: component: bots, feature request

#1376 TCP more stable version
  CHANGELOG.md
  docs/Bots.md
  intelmq/bots/collectors/tcp/collector.py
  intelmq/bots/outputs/tcp/output.py
  intelmq/tests/bots/collectors/tcp/test_collector.py
Labels: bug, component: bots

#1382 Bot.receive_message small optimisation
  intelmq/lib/bot.py
Labels: component: core, performance
