Repository certtools/intelmq, pull requests merged in 2019-04, with the labels that each got.

#1395 Remove keyword 'error' from log message associated with non ERROR state
  intelmq/lib/bot.py
Labels: component: core

#1397 Fix typos
  intelmq/bots/parsers/shadowserver/config.py
Labels: component: bots

#1398 Shadowserver parser: No fixed 'tag' values in extra, fix identifier for ftp.
  intelmq/bots/parsers/shadowserver/config.py
Labels: bug, component: bots

#1360 WIP: Added support for supervisor as process manager
  intelmq/bin/intelmqctl.py
Labels: component: intelmqctl, feature request, needs: feedback
