Repository certtools/intelmq, pull requests merged in 2020-08, with the labels that each got.

#1588 Shadowserver 'blacklist' report renamed to 'blocklist'
  intelmq/bots/parsers/shadowserver/config.py
  intelmq/tests/bots/parsers/shadowserver/test_blocklist.py
  intelmq/tests/bots/parsers/shadowserver/testdata/blocklist.csv
Labels: bug, component: bots

#1587 intelmqdump: Ask for confirmation if queue is not configured Fixes #1433
  CHANGELOG.md
  intelmq/bin/intelmqdump.py
Labels: component: intelmqdump, feature request

#1586 gethostbyname can use URLs
  CHANGELOG.md
  docs/Bots.md
  intelmq/bots/BOTS
  intelmq/bots/experts/gethostbyname/expert.py
  intelmq/tests/bots/experts/gethostbyname/test_expert.py
Labels: component: bots, feature request

#1595 Make elasticsearch refresh the index instead of waiting
  intelmq/tests/bots/outputs/elasticsearch/test_output.py
Labels: bug, component: tests

#1524 ENH: adds --update-database option instead of update scripts
  CHANGELOG.md
  NEWS.md
  contrib/cron-jobs/README.md
  contrib/cron-jobs/intelmq-update-data
  contrib/cron-jobs/intelmq-update-database
  debian/cron.d/intelmq-update-data
  debian/cron.d/intelmq-update-database
  debian/intelmq.install
  docs/Bots.md
  intelmq/bots/BOTS
  intelmq/bots/collectors/http/collector_http.py
  intelmq/bots/collectors/http/collector_http_stream.py
  intelmq/bots/collectors/mail/collector_mail_url.py
  intelmq/bots/collectors/microsoft/collector_interflow.py
  intelmq/bots/collectors/rt/collector_rt.py
  intelmq/bots/collectors/twitter/collector_twitter.py
  intelmq/bots/experts/asn_lookup/expert.py
  intelmq/bots/experts/asn_lookup/update-asn-data
  intelmq/bots/experts/do_portal/expert.py
  intelmq/bots/experts/maxmind_geoip/expert.py
  intelmq/bots/experts/maxmind_geoip/update-geoip-data
  intelmq/bots/experts/national_cert_contact_certat/expert.py
  intelmq/bots/experts/recordedfuture_iprisk/expert.py
  intelmq/bots/experts/ripe/expert.py
  intelmq/bots/experts/tor_nodes/expert.py
  intelmq/bots/experts/tor_nodes/update-tor-nodes
  intelmq/bots/outputs/restapi/output.py
  intelmq/lib/bot.py
  intelmq/lib/utils.py
Labels: component: bots, feature request, usability

#1600 ENH: ShadowServer's Radmin & CAIDA feeds
  intelmq/bots/parsers/shadowserver/config.py
  intelmq/tests/bots/parsers/shadowserver/test_scan_caida.py
  intelmq/tests/bots/parsers/shadowserver/test_scan_radmin.py
  intelmq/tests/bots/parsers/shadowserver/testdata/scan_caida.csv
  intelmq/tests/bots/parsers/shadowserver/testdata/scan_radmin.csv
Labels: component: bots, feature request
