Repository certtools/intelmq, pull requests merged in 2020-12, with the labels that each got.

#1668 Docker adaptions
  intelmq/bin/intelmqctl.py
  intelmq/lib/bot.py
  intelmq/lib/test.py
  intelmq/tests/bots/outputs/redis/test_output.py
  intelmq/tests/bots/outputs/redis/test_output_as_hierarchical_json.py
  intelmq/tests/lib/test_pipeline.py
Labels: component: core, feature request

#1669 Generic CSV Parser: Ignore tabs and spaces
  intelmq/bots/parsers/generic/parser_csv.py
  intelmq/tests/bots/parsers/generic/sample_report.csv
  intelmq/tests/bots/parsers/generic/test_parser_csv.py
Labels: bug, component: bots

#1666 Splunk saved search expert bot
  docs/user/bots.rst
  intelmq/bots/BOTS
  intelmq/bots/experts/splunk_saved_search/__init__.py
  intelmq/bots/experts/splunk_saved_search/expert.py
Labels: component: bots, feature request

#1670 Remediate some warnings
  intelmq/bots/experts/national_cert_contact_certat/expert.py
  intelmq/tests/bots/collectors/http/test_collector.py
Labels: bug

#1671 BUG: use BotDebugger object
  intelmq/bin/intelmqctl.py
Labels: bug, component: intelmqctl

#1674 [FIX] Issue #1651
  intelmq/bots/parsers/generic/parser_csv.py
  intelmq/tests/bots/parsers/generic/invalid_sample_report.csv
  intelmq/tests/bots/parsers/generic/test_parser_csv_invalid_values.py
Labels: bug, component: bots

#1676 [FIX] Issue 1675
  intelmq/bin/intelmqctl.py
Labels: docker

#1679 [DOC] A couple of style fixes in the FAQ
  docs/user/FAQ.rst
  docs/user/intelmqctl.rst
Labels: bug, documentation

#1678 DOC: fix some redundant backticks
  docs/user/bots.rst
Labels: bug, documentation

#1685 Deprecate the XMPP bots
  CHANGELOG.md
  NEWS.md
  docs/user/bots.rst
  intelmq/bots/collectors/xmpp/collector.py
  intelmq/bots/outputs/xmpp/output.py
Labels: component: bots

#1687 Add a testcase that tests if parenthesis work in the sieve language
  docs/user/bots.rst
  intelmq/tests/bots/experts/sieve/test_expert.py
  intelmq/tests/bots/experts/sieve/test_sieve_files/test_parentheses.sieve
Labels: component: bots, documentation

#1691 Replace remaining Markdown links with RST links
  docs/dev/data-harmonization.rst
  docs/dev/guide.rst
  docs/user/bots.rst
  docs/user/installation.rst
  docs/user/n6-integrations.rst
  intelmq/etc/feeds.yaml
Labels: bug, documentation
