Repository certtools/intelmq, pull requests merged in 2020-06, with the labels that each got.

#1544 Add Shadowserver Open-IPP
  intelmq/bots/parsers/shadowserver/config.py
  intelmq/tests/bots/parsers/shadowserver/test_scan_ipp.py
  intelmq/tests/bots/parsers/shadowserver/testdata/scan_ipp.csv
Labels: component: bots, feature request

#1481 GitHub ioc processing
  docs/Bots.md
  docs/Feeds.md
  intelmq/bots/BOTS
  intelmq/bots/collectors/github_api/REQUIREMENTS.txt
  intelmq/bots/collectors/github_api/__init__.py
  intelmq/bots/collectors/github_api/collector_github_api.py
  intelmq/bots/collectors/github_api/collector_github_contents_api.py
  intelmq/bots/parsers/github_feed/REQUIREMENTS.txt
  intelmq/bots/parsers/github_feed/__init__.py
  intelmq/bots/parsers/github_feed/parser.py
  intelmq/etc/feeds.yaml
  intelmq/tests/bots/collectors/github_api/__init__.py
  intelmq/tests/bots/collectors/github_api/example_github_repo_contents_response.json
  intelmq/tests/bots/collectors/github_api/test_collector.py
  intelmq/tests/bots/parsers/github_feed/__init__.py
  intelmq/tests/bots/parsers/github_feed/exmaple_ioc_strangereal_intel.json
  intelmq/tests/bots/parsers/github_feed/test_parser.py
Labels: component: bots, feature request

#1548 add missing misp event key
  intelmq/bots/collectors/misp/collector.py
Labels: bug, component: bots

#1555 Add support for Shadowserver Accessible-CoAP
  intelmq/bots/parsers/shadowserver/config.py
  intelmq/tests/bots/parsers/shadowserver/test_scan_coap.py
  intelmq/tests/bots/parsers/shadowserver/testdata/scan_coap.csv
Labels: component: bots

#1554 ESET ETI collector/parser bots
  intelmq/bots/BOTS
  intelmq/bots/collectors/eset/__init__.py
  intelmq/bots/collectors/eset/collector.py
  intelmq/bots/parsers/eset/__init__.py
  intelmq/bots/parsers/eset/parser.py
Labels: component: bots, feature request
