Repository certtools/intelmq, pull requests merged in 2020-07, with the labels that each got.

#1556 ESET collector: distribute message sending, no redundant debug messages
  intelmq/bots/collectors/eset/collector.py
Labels: component: bots

#1572 FIX: feed revision: Abuse.ch URLhaus
  docs/Feeds.md
  intelmq/etc/feeds.yaml
Labels: bug, documentation: feeds

#1560 ENH: Adds CZ.NIC HaaS (Honeypot as a Service) feed and parser
  docs/Feeds.md
  intelmq/bin/intelmq_gen_docs.py
  intelmq/bots/BOTS
  intelmq/bots/parsers/cznic/__init__.py
  intelmq/bots/parsers/cznic/parser_haas.py
  intelmq/etc/feeds.yaml
  intelmq/tests/bots/parsers/cznic/__init__.py
  intelmq/tests/bots/parsers/cznic/test_parser_haas.py
Labels: component: bots, documentation: feeds, feature request

#1557 Adds support for ASN (RFC5398)
  CHANGELOG.md
  docs/Bots.md
  intelmq/bots/experts/rfc1918/expert.py
  intelmq/tests/bots/experts/rfc1918/test_expert.py
Labels: component: bots, feature request

#1573 ESET parser: workaround NXDOMAIN in place of IP, add recover_line
  intelmq/bots/BOTS
  intelmq/bots/parsers/eset/parser.py
Labels: bug, component: bots

#1584 ENH+TST+DOC: add support for shadowserver accessible ARD
  docs/Bots.md
  intelmq/bots/parsers/shadowserver/config.py
  intelmq/tests/bots/parsers/shadowserver/test_scan_ard.py
  intelmq/tests/bots/parsers/shadowserver/testdata/scan_ard.csv
Labels: component: bots

#1585 BUG: parser fails when IP address comes in the domain column
  intelmq/bots/parsers/malwareurl/parser.py
Labels: bug, component: bots

#1581 intelmq list queues: --sum flag for showing total count Fixes #1408
  CHANGELOG.md
  docs/intelmqctl.md
  intelmq/bin/intelmqctl.py
Labels: component: intelmqctl, feature request
