Repository certtools/intelmq, pull requests merged in 2020-09, with the labels that each got.

#1602 Add GPG signature verification
  .travis.yml
  docs/Bots.md
  intelmq/bots/BOTS
  intelmq/bots/collectors/http/REQUIREMENTS.txt
  intelmq/bots/collectors/http/collector_http.py
  intelmq/tests/assets/foobar.txt.asc
  intelmq/tests/assets/key-private.pgp
  intelmq/tests/assets/key-public.pgp
  intelmq/tests/bots/collectors/http/test_collector.py
Labels: component: bots, feature request

#1601 BUG: danger rulez parser: correctly skip malformed rows
  intelmq/bots/parsers/danger_rulez/parser.py
Labels: bug, component: bots

#1604 ENH: makes bot parameters optional
  intelmq/lib/bot.py
Labels: component: core

#1609 ENH: adds deprecation warning for update data shell scripts
  CHANGELOG.md
  NEWS.md
  intelmq/bots/experts/asn_lookup/update-asn-data
  intelmq/bots/experts/maxmind_geoip/update-geoip-data
  intelmq/bots/experts/recordedfuture_iprisk/update-rfiprisk-data
  intelmq/bots/experts/tor_nodes/update-tor-nodes
Labels: component: bots, component: contrib
