Repository certtools/intelmq, pull requests merged in 2020-05, with the labels that each got.

#1532 Update Microsoft Collector REQUIREMENTS.txt
  intelmq/bots/parsers/bambenek/parser.py
Labels: bug, component: bots

#1526 Add additional feed URLs
  intelmq/bots/parsers/bambenek/parser.py
Labels: bug, component: bots

#1518 BUG: asn_lookup expert: bump pyasn version, fix to update-asn-data script
  intelmq/bots/experts/asn_lookup/REQUIREMENTS.txt
  intelmq/bots/experts/asn_lookup/update-asn-data
Labels: bug, component: contrib

#1534 DOC: remove old toc entry from README.rst
  README.rst
Labels: bug, documentation

#1513 Elastic update for 7+
  .travis.yml
  contrib/elasticsearch/README.md
  contrib/elasticsearch/elasticmapper
  docs/Bots.md
  intelmq/bots/outputs/elasticsearch/REQUIREMENTS.txt
  intelmq/bots/outputs/elasticsearch/output.py
  intelmq/tests/bots/outputs/elasticsearch/test_output.py
Labels: component: bots

#1536 ENH: improve MISP API Output bot
  docs/Bots.md
  intelmq/bots/outputs/misp/output_api.py
Labels: component: bots, feature request

#1514 Adds ELK setup docs.
  docs/ELK-Stack.md
Labels: documentation
