Repository certtools/intelmq, pull requests merged in 2021-05, with the labels that each got.

#1926 BUG: http mixin: fix http_password setting auth
  intelmq/lib/mixins/http.py
Labels: bug, component: core

#1916 DOCS: Renamed data-harmonization to data-format
  CHANGELOG.md
  docs/index.rst
  docs/user/configuration-management.rst
  intelmq/bots/parsers/shadowserver/_config.py
Labels: bug, documentation

#1930 ENH: Add intelmq list bots output
  intelmq/bin/intelmqctl.py
Labels: bug, component: intelmqctl

#1933 FIX: GHA docker workflow publish
  .github/workflows/docker.yml
Labels: bug, component: tests

#1915 FIX: intelmq.bots.experts.rdap evaluates http status codes
  intelmq/bots/experts/rdap/expert.py
Labels: bug, component: bots

#1941 BUG/DOC: updated feodotracker browse parser confiuration
  CHANGELOG.md
  NEWS.md
  intelmq/etc/feeds.yaml
  intelmq/lib/upgrades.py
  intelmq/tests/bots/parsers/html_table/feodotracker.html
  intelmq/tests/bots/parsers/html_table/test_feodotracker.py
  intelmq/tests/lib/test_upgrades.py
Labels: bug, documentation: feeds

#1943 Bots documentation: add anchors to all sections
  CHANGELOG.md
  docs/user/bots.rst
Labels: documentation, feature request

#1946 TST: simplify threshold tests
  intelmq/tests/bots/experts/threshold/test_expert.py
Labels: component: tests

#1945 FIX: RDAP checks if entity is valid entity-type
  intelmq/bots/experts/rdap/expert.py
  intelmq/tests/bots/experts/rdap/test_data/example.com.json
  intelmq/tests/bots/experts/rdap/test_data/nic.versicherung.json
  intelmq/tests/bots/experts/rdap/test_data/rdns.json
  intelmq/tests/bots/experts/rdap/test_expert.py
  setup.cfg
Labels: bug, component: bots

#1934 DOCS: Updated docker instructions
  docs/dev/release-procedure.rst
  docs/user/installation.rst
  docs/user/upgrade.rst
Labels: bug, documentation

#1940 BUG: ctip parser: fix ConnectionType mapping
  CHANGELOG.md
  intelmq/bots/parsers/microsoft/parser_ctip.py
  intelmq/tests/bots/parsers/microsoft/test_parser_ctip_azure.py
Labels: bug, component: bots

#1948 ENH: Disable tests when we build Debian packages
  .github/workflows/scripts/debian-package.sh
Labels: bug, component: tests

#1932 smtp output: handle empty fieldnames parameter
  CHANGELOG.md
  docs/user/bots.rst
  intelmq/bots/outputs/smtp/output.py
  intelmq/tests/bots/outputs/smtp/test_output.py
Labels: component: bots

#1947 DOC: Rearrange section levels
  docs/user/intelmqctl.rst
Labels: documentation

#1897 BUG: csv parser: use sane default parameters
  intelmq/bots/parsers/generic/parser_csv.py
Labels: bug

#1952 ENH: add honeypot_brute_force and corresponding tests
  intelmq/bots/parsers/shadowserver/_config.py
  intelmq/tests/bots/parsers/shadowserver/test_honeypot_brute_force.py
  intelmq/tests/bots/parsers/shadowserver/testdata/honeypot_brute_force.csv
Labels: component: bots, feature request

#1951 DOC: add license information to all the files
  .codecov.yml
  .gitattributes
  .github/pull_request_template.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/codespell.excludelines
  .github/workflows/docker.yml
  .github/workflows/scripts/ansible-playbook.yml
  .github/workflows/scripts/ansible-runtime.yaml
  .gitignore
  .reuse/dep5
  AUTHORS
  CHANGELOG.md
  COPYRIGHT
  LICENSES/AGPL-3.0-or-later.txt
  LICENSES/CC0-1.0.txt
  MANIFEST.in
  NEWS.md
  README.rst
  SECURITY.md
  docs/Makefile
  docs/README.md
  docs/_static/Logo_Intel_MQ.png.license
  docs/_static/Logo_Intel_MQ.svg.license
  docs/_static/cef_logo.png
  docs/_static/intelmq-arch-schema.png.license
  docs/_static/intelmq-arch-schema.vsd.license
  docs/_static/intelmq_logo.jpg.license
  docs/_static/rabbitmq-user-monitoring.png.license
  docs/autogen.py
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  intelmq/bin/intelmqsetup.py
  intelmq/lib/upgrades.py
  setup.cfg
  setup.py
Labels: documentation

#1954 ENH: Add Shadowserver Sinkhole HTTP configuration and tests
  CHANGELOG.md
  docs/user/bots.rst
  intelmq/bots/parsers/shadowserver/config.py
  intelmq/tests/bots/parsers/shadowserver/test_event4_sinkhole_http.py
  intelmq/tests/bots/parsers/shadowserver/testdata/event4_sinkhole_http.csv
Labels: component: bots, feature request

#1955 DOC: Provide a central point of documentation for the EventDB
  docs/_static/eventdb_stats.png
  docs/_static/eventdb_stats.png.license
  docs/index.rst
  docs/user/ecosystem.rst
  docs/user/eventdb.rst
Labels: documentation, feature request

#1956 FIX: set the choices for the intelmqctl log subcommand
  intelmq/bin/intelmqctl.py
Labels: component: intelmqctl

#1960 Correct fix of Splunk expert on Python 3.5
  intelmq/bots/experts/splunk_saved_search/expert.py
Labels: bug, component: bots

#1970 ENH: add Shadowserver scan_exchange config & tests
  intelmq/bots/parsers/shadowserver/config.py
  intelmq/tests/bots/parsers/shadowserver/test_scan_exchange.py
  intelmq/tests/bots/parsers/shadowserver/testdata/scan_exchange.csv
Labels: component: bots, feature request

#1974 FIX: change copyright header syntax in md files
  .github/pull_request_template.md
  CHANGELOG.md
  NEWS.md
  SECURITY.md
  docs/README.md
Labels: bug, documentation
