Repository certtools/intelmq, pull requests merged in 2021-08, with the labels that each got.

#2023 bug ctip parser: map Payload.domain to destination.fqdn
  CHANGELOG.md
  intelmq/bots/parsers/microsoft/parser_ctip.py
  intelmq/tests/bots/parsers/microsoft/test_parser_ctip_azure.py
Labels: bug, component: bots

#2032 DOC: Fix typo
  CHANGELOG.md
Labels: bug, documentation

#2033 Make update script less verbose by default
  intelmq/bots/experts/asn_lookup/expert.py
  intelmq/bots/experts/domain_suffix/expert.py
  intelmq/bots/experts/maxmind_geoip/expert.py
  intelmq/bots/experts/recordedfuture_iprisk/expert.py
  intelmq/bots/experts/tor_nodes/expert.py
Labels: component: bots, usability

#2026 Remove malwardomains parser
  CHANGELOG.md
  NEWS.md
  docs/user/configuration-management.rst
  intelmq/bots/parsers/malwaredomains/__init__.py
  intelmq/bots/parsers/malwaredomains/parser.py
  intelmq/etc/feeds.yaml
  intelmq/lib/upgrades.py
  intelmq/tests/bots/parsers/malwaredomains/__init__.py
  intelmq/tests/bots/parsers/malwaredomains/domains.txt
  intelmq/tests/bots/parsers/malwaredomains/domains.txt.license
  intelmq/tests/bots/parsers/malwaredomains/test_parser.py
  intelmq/tests/lib/test_upgrades.py
Labels: bug, documentation: feeds

#1966 Add new bot: domain valid
  debian/cron.d/intelmq-update-database
  docs/user/bots.rst
  intelmq/bots/experts/domain_valid/REQUIREMENTS.txt
  intelmq/bots/experts/domain_valid/__init__.py
  intelmq/bots/experts/domain_valid/expert.py
  intelmq/tests/bots/experts/domain_valid/__init__.py
  intelmq/tests/bots/experts/domain_valid/test_expert.py
  intelmq/tests/bots/experts/domain_valid/tlds-alpha-by-domain.txt
  intelmq/tests/bots/experts/domain_valid/tlds-alpha-by-domain.txt.license
Labels: feature request, component: bots

#2036 Shadowserver feed updates
  CHANGELOG.md
  docs/user/bots.rst
  intelmq/bots/parsers/shadowserver/_config.py
  intelmq/tests/bots/parsers/shadowserver/test_event4_microsoft_sinkhole.py
  intelmq/tests/bots/parsers/shadowserver/test_event4_microsoft_sinkhole_http.py
  intelmq/tests/bots/parsers/shadowserver/testdata/event4_microsoft_sinkhole.csv
  intelmq/tests/bots/parsers/shadowserver/testdata/event4_microsoft_sinkhole.csv.license
  intelmq/tests/bots/parsers/shadowserver/testdata/event4_microsoft_sinkhole_http.csv
  intelmq/tests/bots/parsers/shadowserver/testdata/event4_microsoft_sinkhole_http.csv.license
Labels: bug, component: bots

#2045 Remove postgresql output bot
  CHANGELOG.md
  NEWS.md
  intelmq/bots/outputs/postgresql/output.py
  intelmq/tests/bots/outputs/sql/test_output_postgresql.py
Labels: component: bots

#2030 DOC: remove mention of intelmqctl list bot json output
  docs/user/configuration-management.rst
Labels: documentation

#2048 Remove workarounds for XMPP bots
  intelmq/lib/bot.py
Labels: component: bots

#2041 Use the YAML unsafe loader instead of the safe loader
  intelmq/lib/pipeline.py
  intelmq/lib/utils.py
Labels: bug, component: core

#2051 BUG: lib/bot: handle empty dict in destination_queues
  CHANGELOG.md
  intelmq/lib/bot.py
Labels: bug, component: core

#2052 BUG: smtp output: add Content-Disposition header for attachments
  CHANGELOG.md
  intelmq/bots/outputs/smtp/output.py
  intelmq/tests/bots/outputs/smtp/test_output.py
Labels: bug, component: bots

#2055 ENH: imap collector: support unverified connections
  CHANGELOG.md
  intelmq/bots/collectors/mail/_lib.py
Labels: feature request, component: bots

#2056 ENH: utils: list_bots: strip descriptions
  intelmq/lib/utils.py
Labels: feature request, component: core

#2057 lib/harm: minor change to allowed classification.types list
  intelmq/lib/harmonization.py
Labels: component: core

#2040 JinjaExpert - modify message fields using jinja2
  docs/user/bots.rst
  intelmq/bots/experts/jinja/expert.py
  intelmq/tests/bots/experts/jinja/ecs.j2
  intelmq/tests/bots/experts/jinja/ecs.j2.license
  intelmq/tests/bots/experts/jinja/test_expert.py
Labels: feature request, component: bots

#2062 DOC: configuration: fix broker description
  docs/user/configuration-management.rst
Labels: bug, documentation

#2035 DOCS: Docker-compose commands updated
  docs/user/FAQ.rst
  docs/user/installation.rst
  docs/user/intelmq-api.rst
Labels: documentation, docker

#2044 DOCS: Added better description for trusted introducer
  docs/user/bots.rst
Labels: documentation

#2068 BUG: ctl: honour environment parameters
  CHANGELOG.md
  intelmq/bin/intelmqctl.py
Labels: bug, component: intelmqctl

#2073 BUG: gethostbyname: handle numeric gaierrors_to_ignore
  CHANGELOG.md
  intelmq/bots/experts/gethostbyname/expert.py
  intelmq/tests/bots/experts/gethostbyname/test_expert.py
Labels: bug, component: bots

#2075 BUG: filter: handle empty string not_after & not_before
  CHANGELOG.md
  intelmq/bots/experts/filter/expert.py
  intelmq/tests/bots/experts/filter/test_empty_string_parameters.py
Labels: bug, component: bots

#2054 ENH: lib/bot: fix behavior for unconfigured bots
  CHANGELOG.md
  intelmq/lib/bot.py
Labels: feature request, component: core

#2083 BUG: fix v300_pipeline_file_removal
  intelmq/lib/upgrades.py
Labels: bug, component: core

#2086 ctl: fix managment of bot groups
  CHANGELOG.md
  intelmq/bin/intelmqctl.py
Labels: bug, component: intelmqctl

#2081 Adapt ansible workflow to ansible tests
  .github/workflows/scripts/ansible-playbook.yml
  .github/workflows/scripts/ansible-runtime.yaml
  .github/workflows/scripts/ansible.sh
Labels: bug, component: tests

#2087 BUG: use correct private parameter variable
  intelmq/bin/intelmqctl.py
Labels: bug, component: intelmqctl

#2065 DOCS: fix some sphinx warnings
  docs/dev/guide.rst
  docs/user/intelmq-manager.rst
  intelmq/bin/intelmqctl.py
  intelmq/bots/collectors/http/collector_http.py
  intelmq/bots/collectors/http/collector_http_stream.py
  intelmq/bots/collectors/misp/collector.py
  intelmq/bots/collectors/shadowserver/collector_reports_api.py
  intelmq/bots/experts/http/expert_status.py
  intelmq/bots/experts/jinja/expert.py
  intelmq/bots/experts/splunk_saved_search/expert.py
  intelmq/bots/experts/tuency/expert.py
  intelmq/bots/outputs/elasticsearch/output.py
  intelmq/bots/outputs/misp/output_api.py
  intelmq/bots/parsers/hibp/parser_callback.py
  intelmq/bots/parsers/mcafee/parser_atd.py
  intelmq/bots/parsers/microsoft/parser_ctip.py
  intelmq/bots/parsers/shadowserver/parser_json.py
  intelmq/bots/parsers/twitter/parser.py
  intelmq/etc/feeds.yaml
  intelmq/lib/bot.py
  intelmq/lib/exceptions.py
  intelmq/lib/message.py
  intelmq/lib/mixins/sql.py
  intelmq/lib/pipeline.py
Labels: bug, documentation

#2079 ENH: make json output indented to make it better readable by humans
  intelmq/bin/intelmqctl.py
Labels: usability, component: intelmqctl
