Repository certtools/intelmq, pull requests merged in 2021-09, with the labels that each got.

#2092 BUG: ctl: fix default logging path
  CHANGELOG.md
  intelmq/bin/intelmqctl.py
Labels: bug, component: intelmqctl

#2089 ENH: use the upstream ansible tasks playbook
  .github/workflows/ansible-tests.yml
  .github/workflows/scripts/ansible-playbook.yml
Labels: documentation

#2061 MAINT: update the url for the vagrant+ansible test repository
  .github/workflows/ansible-tests.yml
Labels: component: tests

#2101 DOC: Add configuration upgrade steps for 3.0
  NEWS.md
Labels: documentation

#2106 FIX: performance issue because of re-loading harmonization file
  CHANGELOG.md
  intelmq/lib/bot.py
Labels: bug, performance

#2107 bug: domain suffix expert: skipped update message
  CHANGELOG.md
  intelmq/bots/experts/domain_suffix/expert.py
Labels: bug, component: bots

#2109 bug: lib/bots: fix names of private attributes
  CHANGELOG.md
  intelmq/bots/collectors/api/collector_api.py
  intelmq/bots/collectors/stomp/collector.py
  intelmq/bots/experts/splunk_saved_search/expert.py
  intelmq/bots/experts/threshold/expert.py
  intelmq/bots/outputs/file/output.py
  intelmq/bots/outputs/misp/output_api.py
  intelmq/bots/outputs/misp/output_feed.py
  intelmq/bots/outputs/tcp/output.py
  intelmq/bots/outputs/udp/output.py
  intelmq/lib/bot.py
Labels: bug, component: bots, component: core

#2104 FIX: statistics_host returns if no host value is given
  intelmq/lib/cache.py
Labels: component: core

#2069 DOCS: Updated docker installation instructions
  docs/user/installation.rst
Labels: documentation, docker

#2111 BUG: fix logrotate ownership options
  CHANGELOG.md
  NEWS.md
  contrib/logrotate/intelmq
  debian/patches/fix-logrotate-path.patch
Labels: bug, packaging, component: contrib

#1962 Add RPZ file output bot
  docs/user/bots.rst
  intelmq/bots/outputs/rpz_file/__init__.py
  intelmq/bots/outputs/rpz_file/output.py
  intelmq/tests/bots/outputs/rpz_file/__init__.py
  intelmq/tests/bots/outputs/rpz_file/test_output.py
Labels: feature request, component: bots

#1963 Add new bot: bro output file
  docs/user/bots.rst
  intelmq/bots/outputs/bro_file/__init__.py
  intelmq/bots/outputs/bro_file/output.py
  intelmq/tests/bots/outputs/bro_file/__init__.py
  intelmq/tests/bots/outputs/bro_file/test_output.py
Labels: feature request, component: bots, needs: feedback

#2113 DOC: restructure installation documentation
  CHANGELOG.md
  docs/user/configuration-management.rst
  docs/user/installation.rst
Labels: documentation, usability

#2112 ENH: ctip parser: added parameter overwrite
  CHANGELOG.md
  docs/user/bots.rst
  intelmq/bots/parsers/microsoft/parser_ctip.py
  intelmq/tests/bots/parsers/microsoft/test_parser_ctip_azure.py
Labels: feature request, component: bots

#1965 Add new bot: cut string from string
  docs/user/bots.rst
  intelmq/bots/experts/remove_affix/__init__.py
  intelmq/bots/experts/remove_affix/expert.py
  intelmq/tests/bots/experts/remove_affix/__init__.py
  intelmq/tests/bots/experts/remove_affix/test_expert.py
Labels: feature request, component: bots, needs: feedback

#2114 ENH: intelmqsetup: revise installation of manager
  debian/rules
  docs/user/installation.rst
  docs/user/intelmq-manager.rst
  intelmq/bin/intelmqsetup.py
Labels: documentation, usability
