Repository certtools/intelmq, pull requests merged in 2021-04, with the labels that each got.

#1753 Build docker image with github actions
  .github/workflows/docker.yml
Labels: docker

#1842 MAINT: workaround for new buildah release
  .github/workflows/debian-package.yml
Labels: component: tests

#1824 ENH: add various typing annotations
  intelmq/lib/bot.py
  intelmq/lib/utils.py
Labels: component: core

#1835 WIP: ENH: tweaks to Shodan parser bot
  intelmq/bots/parsers/shodan/parser.py
  intelmq/tests/bots/parsers/shodan/test_parser.py
Labels: component: bots, feature request

#1816 ENH: misp api output: update check function
  intelmq/bots/outputs/misp/output_api.py
Labels: component: bots

#1851 BUG: ctip parser: support more payload fields
  CHANGELOG.md
  intelmq/bots/parsers/microsoft/parser_ctip.py
  intelmq/tests/bots/parsers/microsoft/ctip_azure.txt
  intelmq/tests/bots/parsers/microsoft/test_parser_ctip_azure.py
Labels: bug, component: bots

#1844 ENH: LookyLoo expert bot for automated website screenshots
  CHANGELOG.md
  docs/dev/guide.rst
  docs/user/bots.rst
  intelmq/bots/experts/lookyloo/REQUIREMENTS.txt
  intelmq/bots/experts/lookyloo/__init__.py
  intelmq/bots/experts/lookyloo/expert.py
  intelmq/tests/bots/experts/lookyloo/__init__.py
  intelmq/tests/bots/experts/lookyloo/test_expert.py
Labels: component: bots, feature request

#1859 BUG: lib/bot_debugger: fix setting the log level
  CHANGELOG.md
  intelmq/bin/intelmqctl.py
  intelmq/lib/bot_debugger.py
Labels: bug, component: core

#1854 ENH: modify example configuration: add c2 malware rule
  CHANGELOG.md
  intelmq/bots/experts/modify/examples/default.conf
Labels: documentation

#1871 FIX: remove the 'global' entry from the list of bots
  intelmq/bin/intelmqctl.py
Labels: bug, component: intelmqctl

#1872 BUG: ctl: exclude global from more runtime accesses
  intelmq/bin/intelmqctl.py
Labels: bug, component: intelmqctl

#1874 FIX: the pipeline_args should be a dict, not an Parameters object
  intelmq/tests/lib/test_pipeline.py
Labels: bug, component: tests

#1870 Fix parsing in whitespace edge case and modify test #1862
  intelmq/bots/parsers/cymru/parser_cap_program.py
  intelmq/tests/bots/parsers/cymru/certname_20190327.txt
Labels: bug, component: bots

#1876 DOC: no need to mention development internal fixes in changelog
  CHANGELOG.md
Labels: documentation

#1873 FIX: recreate the legacy pipeline_configuration
  intelmq/bin/intelmqctl.py
Labels: bug, component: core, component: intelmqctl

#1877 FIX: use a private attribute for log_processed_messages_seconds
  intelmq/lib/bot.py
  intelmq/tests/lib/test_parser_bot.py
Labels: component: core

#1880 MAINT: don't run all the tests on changes in the .github directory
  .github/workflows/build-docs.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codespell.yml
  .github/workflows/debian-package.yml
  .github/workflows/docker.yml
  .github/workflows/nosetests.yml
  .github/workflows/pycodestyle.yml
Labels: component: tests

#1884 FIX: fix the check method to handle yaml different than json files
  intelmq/bin/intelmqctl.py
Labels: bug, component: intelmqctl

#1885 FIX: check for 'parameters' key in dict
  intelmq/bin/intelmqctl.py
Labels: bug, component: core

#1867 DOC: update the documentation to reflect the change to yaml
  docs/user/bots.rst
  docs/user/configuration-management.rst
Labels: documentation

#1890 BUG: gethostbyname: fix handling null gaierrors_to_ignore
  CHANGELOG.md
  intelmq/bots/experts/gethostbyname/expert.py
  intelmq/tests/bots/experts/gethostbyname/test_expert.py
Labels: bug, component: bots

#1891 FIX: rdap.expert now resolves the tld. removing subdomains
  intelmq/bots/experts/rdap/expert.py
Labels: architecture, component: bots

#1892 ENH: add overwrite parameter to rdap expert
  intelmq/bots/experts/rdap/expert.py
Labels: component: bots, feature request

#1879 BUG: microsoft-ctip: handle Payload.timestamp
  CHANGELOG.md
  intelmq/bots/parsers/microsoft/parser_ctip.py
Labels: bug, component: bots

#1898 FIX: set defaults values for the logging handler
  intelmq/bin/intelmqctl.py
Labels: bug, component: intelmqctl

#1899 MAINT: update the fix for the rootless buildah problem
  .github/workflows/debian-package.yml
Labels: bug, component: tests

#1902 FIX: intelmqctl list bots now Output correct ExpertBot names
  intelmq/lib/utils.py
Labels: bug, component: core

#1903 BUG: ctip parser: handle more Payload fields
  CHANGELOG.md
  intelmq/bots/parsers/microsoft/parser_ctip.py
Labels: bug, component: bots

#1878 ENH: add a workflow to run ansible tests
  .github/workflows/ansible-tests.yml
  .github/workflows/scripts/ansible-playbook.yml
  .github/workflows/scripts/ansible-runtime.yaml
  .github/workflows/scripts/ansible.sh
Labels: component: tests, feature request

#1900 DOC: add documentation about Mixins to developers guide
  docs/dev/guide.rst
Labels: documentation

#1911 BUG: fix intelmqsetup issues
  CHANGELOG.md
  intelmq/__init__.py
  intelmq/bin/intelmqsetup.py
Labels: bug, packaging
