Repository certtools/intelmq, pull requests merged in 2021-02, with the labels that each got.

#1728 Shadowserver Block List Feed: Parse CIDR-notation entries correctly
  intelmq/bots/collectors/shadowserver/__init__.py
  intelmq/bots/parsers/shadowserver/config.py
  intelmq/tests/bots/parsers/shadowserver/test_blocklist.py
  intelmq/tests/bots/parsers/shadowserver/testdata/blocklist.csv
Labels: bug, component: bots

#1731 [FIX] CrymuExport now checks ns1.univie.ac.at
  intelmq/tests/bots/experts/cymru_whois/test_expert.py
Labels: bug, component: bots

#1736 [FIX] ShadowServer parser http update
  intelmq/bots/parsers/shadowserver/config.py
Labels: bug, component: bots

#1734 [FIX] Fixes ShadowServer recover_line
  intelmq/bots/parsers/shadowserver/parser_json.py
  intelmq/tests/bots/parsers/shadowserver/test_scan_smb_json.py
Labels: bug, component: bots

#1739 MAINT: drop unused copyright file
  intelmq/bots/collectors/alienvault_otx/COPYRIGHT.md
Labels: bug, documentation

#1724 [DOCS] Adapted docs for new intelmq-api
  docs/dev/release-procedure.rst
  docs/user/installation.rst
  docs/user/upgrade.rst
Labels: docker, documentation

#1741 Fix/abusech parser
  intelmq/bots/parsers/abusech/parser_ip.py
  intelmq/tests/bots/parsers/abusech/feododomains.txt
  intelmq/tests/bots/parsers/abusech/feodoips.txt
  intelmq/tests/bots/parsers/abusech/ransomwaretracker.csv
  intelmq/tests/bots/parsers/abusech/test_parser_domain.py
  intelmq/tests/bots/parsers/abusech/test_parser_ip.py
  intelmq/tests/bots/parsers/abusech/test_parser_ip_zeus.py
  intelmq/tests/bots/parsers/abusech/zeusips.txt
Labels: bug, component: bots

#1735 Added ShadowServer sinkholeDNS mappings
  intelmq/bots/parsers/shadowserver/config.py
  intelmq/tests/bots/parsers/shadowserver/test_scan_sinkholedns.py
  intelmq/tests/bots/parsers/shadowserver/testdata/scan_sinkholedns.csv
Labels: bug, component: bots

#1744 DOC: clean up intelmq-api documentation
  docs/user/intelmq-api.rst
Labels: documentation

#1749 Insert date when email was received
  intelmq/bots/collectors/mail/collector_mail_body.py
Labels: component: bots, feature request

#1740 Updating news file for 2.3.0
  NEWS.md
Labels: documentation

#1747 [FIX] HTTP Stream Collector better error handling
  CHANGELOG.md
  docs/user/bots.rst
  intelmq/bots/collectors/http/collector_http_stream.py
  intelmq/bots/collectors/shodan/collector_stream.py
Labels: bug, component: bots

#1758 FIX: set session.verify to the value return from the defaults
  intelmq/lib/utils.py
Labels: bug, component: core

#1754 BUG: twitter collector: proper URL parsing
  CHANGELOG.md
  intelmq/bots/collectors/twitter/collector_twitter.py
Labels: bug, component: bots

#1760 [FIX] SMTP Output can now send to multiple recipients
  CHANGELOG.md
  docs/user/bots.rst
  intelmq/bots/outputs/smtp/output.py
  intelmq/tests/bots/outputs/smtp/test_output.py
Labels: bug, component: bots
