Repository certtools/intelmq, pull requests merged in 2022-01, with the labels that each got.

#2130 Docs: Remove dead IRC channel
  README.rst
  docs/user/introduction.rst
Labels: documentation

#2134 Added new shadowserver files to _config.py
  intelmq/bots/parsers/shadowserver/_config.py
Labels: feature request, component: bots

#2135 DOC: Update changelog and docs for shadowserver PR#2134
  CHANGELOG.md
  docs/user/bots.rst
Labels: documentation

#2141 doc: feeds whishlist: add misp warning lists
  docs/dev/feeds-wishlist.rst
Labels: documentation: feeds

#2139 docs: feeds whishlist: add avast ioc repo
  docs/dev/feeds-wishlist.rst
Labels: documentation: feeds

#2144 MS CTIP Azure feed invalid hostname filtering
  CHANGELOG.md
  intelmq/bots/parsers/microsoft/parser_ctip.py
  intelmq/tests/bots/parsers/microsoft/ctip_azure.txt
  intelmq/tests/bots/parsers/microsoft/test_parser_ctip_azure.py
Labels: bug, component: bots
