Repository certtools/intelmq, pull requests merged in 2022-12, with the labels that each got.

#2258 Developer guide update with virtual env and additional services
  contrib/development-tools/docker-compose-common-services.yaml
  docs/dev/guide.rst
  setup.py
Labels: documentation

#2276 FIX: Removed dshield suspicious domain feed parser
  CHANGELOG.md
  intelmq/bots/parsers/dshield/parser_domain.py
  intelmq/etc/feeds.yaml
  intelmq/lib/upgrades.py
  intelmq/tests/bots/parsers/dshield/suspiciousdomains_High.txt
  intelmq/tests/bots/parsers/dshield/suspiciousdomains_High.txt.license
  intelmq/tests/bots/parsers/dshield/test_parser_domain.py
  intelmq/tests/lib/test_upgrades.py
Labels: component: bots

#2265 FIX: handled bot's SyntaxError in intelmqctl check
  CHANGELOG.md
  intelmq/bin/intelmqctl.py
  intelmq/lib/utils.py
  intelmq/tests/bin/test_intelmqctl.py
  intelmq/tests/lib/test_utils.py
Labels: component: intelmqctl

#2237 TST: Remove codecov action as it failed regularly
  .github/workflows/unittests.yml
  CHANGELOG.md
  README.rst
  docs/index.rst
Labels: component: tests

#2280 FIX: CSV parser bot preserves original line ending
  CHANGELOG.md
  intelmq/bots/parsers/generic/parser_csv.py
  intelmq/lib/bot.py
  intelmq/lib/utils.py
  intelmq/tests/bots/parsers/cert_eu/test_parser_csv.py
  intelmq/tests/bots/parsers/generic/test_filter_blacklist.py
  intelmq/tests/bots/parsers/generic/test_filter_whitelist.py
  intelmq/tests/bots/parsers/generic/test_parser_csv.py
  intelmq/tests/bots/parsers/generic/test_parser_csv4.py
  intelmq/tests/bots/parsers/generic/test_parser_csv_data_type.py
  intelmq/tests/bots/parsers/generic/test_parser_csv_extra_regex.py
  intelmq/tests/bots/parsers/generic/test_parser_csv_invalid_values.py
  intelmq/tests/bots/parsers/generic/test_parser_multivalue_cols.py
  intelmq/tests/lib/test_parser_bot.py
Labels: bug, component: bots, component: core

#2270 ENH: Improved Phishtank parser bot
  CHANGELOG.md
  intelmq/bots/parsers/phishtank/parser.py
  intelmq/etc/feeds.yaml
  intelmq/tests/bots/parsers/phishtank/test_parser.py
Labels: component: bots

#2236 Multithreading causes bot to crash or not start
  CHANGELOG.md
  intelmq/lib/bot.py
  intelmq/lib/utils.py
Labels: bug, component: core
