Repository certtools/intelmq, pull requests merged in 2022-08, with the labels that each got.

#2223 postgresql output: escape all null bytes
  CHANGELOG.md
  docs/user/bots.rst
  intelmq/bots/outputs/sql/output.py
  intelmq/lib/test.py
  intelmq/tests/bots/outputs/sql/test_output_postgresql.py
Labels: bug, component: bots

#2184 Remove malc0de feed due to offline
  CHANGELOG.md
  intelmq/bots/parsers/malc0de/__init__.py
  intelmq/bots/parsers/malc0de/parser.py
  intelmq/etc/feeds.yaml
  intelmq/etc/runtime.yaml
  intelmq/lib/upgrades.py
  intelmq/tests/bots/parsers/malc0de/BOOT
  intelmq/tests/bots/parsers/malc0de/BOOT.license
  intelmq/tests/bots/parsers/malc0de/IP_Blacklist.txt
  intelmq/tests/bots/parsers/malc0de/IP_Blacklist.txt.license
  intelmq/tests/bots/parsers/malc0de/ZONE
  intelmq/tests/bots/parsers/malc0de/ZONE.license
  intelmq/tests/bots/parsers/malc0de/__init__.py
  intelmq/tests/bots/parsers/malc0de/test_parser.py
  intelmq/tests/lib/test_upgrades.py
Labels: component: bots

#2216 TST: Fixed regex to hold gcc version
  CHANGELOG.md
  intelmq/lib/test.py
  intelmq/tests/lib/test_test.py
Labels: bug, component: tests

#2147 FIX: Possible race condition in file collector
  CHANGELOG.md
  intelmq/bots/collectors/file/collector_file.py
  intelmq/tests/bots/collectors/file/test_collector.py
Labels: bug, component: bots

#2209 tst: fix threshold expert redis host
  CHANGELOG.md
  intelmq/tests/bots/experts/threshold/test_expert.py
Labels: bug, component: tests

#2235 Updated scan_amqp and added scan_stun
  CHANGELOG.md
  intelmq/bots/parsers/shadowserver/_config.py
  intelmq/tests/bots/parsers/shadowserver/test_scan_amqp.py
  intelmq/tests/bots/parsers/shadowserver/test_scan_stun.py
  intelmq/tests/bots/parsers/shadowserver/testdata/scan_stun.csv
  intelmq/tests/bots/parsers/shadowserver/testdata/scan_stun.csv.license
Labels: feature request, component: bots

#2239 doc: various minor spelling fixes
  CHANGELOG.md
  docs/user/ELK-Stack.rst
  docs/user/bots.rst
  intelmq/bots/collectors/twitter/collector_twitter.py
  intelmq/bots/outputs/rt/output.py
  intelmq/etc/harmonization.conf
  setup.cfg
Labels: documentation
