Repository certtools/intelmq, pull requests merged in 2022-05, with the labels that each got.

#2173 Add fix Blueliv collector requirements to CHANGELOG.md
  CHANGELOG.md
Labels: bug, documentation

#2146 FIX: Moved SQLBot to SQLMixin namespace in generic-db-lookup
  intelmq/bots/experts/generic_db_lookup/expert.py
Labels: bug, component: bots

#2187 BUG: mail collectors: fix IMAP abort handling
  CHANGELOG.md
  intelmq/bots/collectors/mail/_lib.py
Labels: bug, component: bots

#2189 bug: fix ctl process manager initialization non-interactive
  CHANGELOG.md
  intelmq/bin/intelmqctl.py
Labels: bug, component: intelmqctl

#2190 doc: ms azure collector: more precise requirement name
  intelmq/bots/collectors/microsoft/collector_azure.py
Labels: bug, documentation

#2182 gitignore: add coverage file
  .gitignore
Labels: component: tests

#2180 ENH: new parameter autoupdate_cached_database
  CHANGELOG.md
  intelmq/bots/experts/asn_lookup/expert.py
  intelmq/bots/experts/domain_suffix/expert.py
  intelmq/bots/experts/maxmind_geoip/expert.py
  intelmq/bots/experts/recordedfuture_iprisk/expert.py
  intelmq/bots/experts/tor_nodes/expert.py
Labels: feature request, component: bots
