Repository certtools/intelmq, pull requests merged in 2023-06, with the labels that each got.

#2253 SMTPBatchOutput bot
  AUTHORS
  CHANGELOG.md
  docs/user/bots.rst
  intelmq/bots/outputs/smtp_batch/REQUIREMENTS.txt
  intelmq/bots/outputs/smtp_batch/__init__.py
  intelmq/bots/outputs/smtp_batch/output.py
  intelmq/tests/bots/outputs/smtp_batch/__init__.py
  intelmq/tests/bots/outputs/smtp_batch/mail_template.txt
  intelmq/tests/bots/outputs/smtp_batch/mail_template.txt.license
  intelmq/tests/bots/outputs/smtp_batch/test_output.py
Labels: component: bots

#2370 tst: skip tests which require an intelmq installation by default
  .github/workflows/unittests.yml
  CHANGELOG.md
  docs/dev/guide.rst
  intelmq/lib/test.py
  intelmq/tests/bin/test_intelmqctl.py
  intelmq/tests/bin/test_intelmqdump.py
Labels: bug, component: tests

#2378 FIX: Ensure rejecting URLs starting with space
  .github/workflows/codespell.yml
  CHANGELOG.md
  intelmq/lib/harmonization.py
  intelmq/tests/bots/parsers/html_table/test_parser_column_split.py
Labels: bug, component: core

#2376 ENH: RTCollector: Exclude by subject and multiple values
  CHANGELOG.md
  docs/user/bots.rst
  intelmq/bots/collectors/rt/collector_rt.py
  intelmq/tests/bots/collectors/rt/test_collector.py
Labels: feature request, component: bots
