Repository certtools/intelmq, pull requests merged in 2023-09, with the labels that each got.

#2406 doc: readthedocs: enable requirements
  .readthedocs.yaml
Labels: bug, documentation

#2398 ENH: message: show reason for InvalidKey exception
  CHANGELOG.md
  intelmq/lib/exceptions.py
  intelmq/lib/message.py
  intelmq/tests/lib/test_exceptions.py
  intelmq/tests/lib/test_message.py
Labels: feature request, usability, component: core

#2404 Extend intelmq_psql_initdb
  CHANGELOG.md
  contrib/eventdb/separate-raws-table.sql
  docs/user/eventdb.rst
  intelmq/bin/intelmq_psql_initdb.py
  intelmq/tests/bin/test_psql_initdb.py
Labels: feature request, component: contrib

#2408 STOMP-and-n6-related updates, fixes and enhancements, especially adding login-based authentication
  CHANGELOG.md
  docs/user/bots.rst
  docs/user/n6-integrations.rst
  intelmq/bots/collectors/stomp/collector.py
  intelmq/bots/outputs/stomp/output.py
  intelmq/etc/feeds.yaml
  intelmq/lib/mixins/__init__.py
  intelmq/lib/mixins/stomp.py
Labels: component: bots
