Repository certtools/intelmq, pull requests merged in 2023-01, with the labels that each got.

#2287 bug ctl: fix URL to orphaned queues help
  intelmq/bin/intelmqctl.py
Labels: bug, documentation, component: intelmqctl

#2286 DOC: fix remaining references to old runtime.yaml
  contrib/feeds-config-generator/README.md
  contrib/feeds-config-generator/intelmq_gen_feeds_conf
  docs/dev/guide.rst
  docs/user/bots.rst
  docs/user/configuration-management.rst
  docs/user/intelmqctl.rst
  intelmq/bin/intelmqctl.py
  intelmq/bots/experts/asn_lookup/expert.py
  intelmq/bots/experts/domain_suffix/expert.py
  intelmq/bots/experts/domain_valid/expert.py
  intelmq/bots/experts/maxmind_geoip/expert.py
  intelmq/bots/experts/recordedfuture_iprisk/expert.py
  intelmq/bots/experts/tor_nodes/expert.py
Labels: bug, documentation

#2290 tst: add missing skip_internet for dns utils
  intelmq/tests/lib/test_utils.py
Labels: bug, component: tests

#2298 FIX Very slow dataplane parser due to loading the config for every event
  intelmq/bots/parsers/dataplane/parser.py
Labels: bug, component: bots

#2294 ENH: Drop Python 3.6 and enable 3.11
  .github/workflows/build-docs.yml
  .github/workflows/unittests.yml
  CHANGELOG.md
  contrib/malware_name_mapping/download_mapping.py
  debian/control
  docs/user/installation.rst
  intelmq/bin/intelmq_psql_initdb.py
  intelmq/bin/intelmqdump.py
  intelmq/bots/collectors/misp/REQUIREMENTS.txt
  intelmq/bots/collectors/shadowserver/collector_reports_api.py
  intelmq/bots/experts/maxmind_geoip/REQUIREMENTS.txt
  intelmq/bots/outputs/file/output.py
  intelmq/tests/lib/test_exceptions.py
  setup.py
Labels: component: tests

#2268 ENH: Improved Abuse.ch Feodo Tracker parser bot and documentation
  CHANGELOG.md
  NEWS.md
  intelmq/bots/parsers/abusech/parser_domain.py
  intelmq/bots/parsers/abusech/parser_feodotracker.py
  intelmq/bots/parsers/abusech/parser_ip.py
  intelmq/etc/feeds.yaml
  intelmq/etc/runtime.yaml
  intelmq/lib/upgrades.py
  intelmq/tests/bots/parsers/abusech/feodoips.txt
  intelmq/tests/bots/parsers/abusech/feodoips.txt.license
  intelmq/tests/bots/parsers/abusech/test_parser_feodotracker.py
  intelmq/tests/bots/parsers/abusech/test_parser_ip.py
  intelmq/tests/test_conf.py
Labels: component: bots
