Repository certtools/intelmq, pull requests merged in 2023-02, with the labels that each got.

#2303 Added http_agent to the 'Honeypot DDoS' report and added the 'DDoS Pa…
  CHANGELOG.md
  intelmq/bots/parsers/shadowserver/_config.py
  intelmq/tests/bots/parsers/shadowserver/test_event4_ddos_participant.py
  intelmq/tests/bots/parsers/shadowserver/testdata/event4_ddos_participant.csv
  intelmq/tests/bots/parsers/shadowserver/testdata/event4_ddos_participant.csv.license
  intelmq/tests/bots/parsers/shadowserver/testdata/event4_honeypot_ddos.csv
Labels: feature request, component: bots

#2305 doc: update installation guide for 3.1.0 release
  docs/user/installation.rst
Labels: documentation

#2304 TST: Update ansible test to latest cleanups in vagrant repo
  .github/workflows/ansible-tests.yml
  .github/workflows/scripts/ansible-playbook.yml
Labels: component: tests

#2301 TST: bin/ctl.check: Skip executables check in tests
  intelmq/bin/intelmqctl.py
  intelmq/tests/bin/test_intelmqctl.py
Labels: component: tests

#2240 BUG: lib/pipeline: use blmove only if redis-py supports it
  CHANGELOG.md
  intelmq/lib/pipeline.py
Labels: bug, component: core

#2310 doc: fix ecosystem -> universe in readme
  README.rst
Labels: bug, documentation

#2293 ENH: Adds default_fields parameter
  CHANGELOG.md
  docs/user/bots.rst
  intelmq/bots/parsers/generic/parser_csv.py
  intelmq/etc/feeds.yaml
  intelmq/lib/bot.py
  intelmq/lib/upgrades.py
  intelmq/tests/lib/test_parser_bot.py
Labels: component: core, component: configuration

#2266 FIX: Feeds revision
  CHANGELOG.md
  intelmq/bots/parsers/taichung/__init__.py
  intelmq/bots/parsers/taichung/parser.py
  intelmq/etc/feeds.yaml
  intelmq/lib/upgrades.py
  intelmq/tests/bots/parsers/taichung/__init__.py
  intelmq/tests/bots/parsers/taichung/recent.html
  intelmq/tests/bots/parsers/taichung/test_parser.py
Labels: documentation: feeds

#2314 FIX: Removes duplicate upgrade function
  intelmq/lib/upgrades.py
Labels: bug, component: core

#2315 ENH: Adds URL expert bot
  CHANGELOG.md
  docs/user/bots.rst
  intelmq/bots/experts/url/__init__.py
  intelmq/bots/experts/url/expert.py
  intelmq/bots/experts/url2fqdn/expert.py
  intelmq/lib/test.py
  intelmq/tests/bots/experts/url/__init__.py
  intelmq/tests/bots/experts/url/test_expert.py
  intelmq/tests/bots/experts/url2fqdn/test_expert.py
Labels: component: bots
