Repository certtools/intelmq, pull requests merged in 2024-06, with the labels that each got.

#2501 ENH: smtp_batch output alternative mails docs
  CHANGELOG.md
  docs/user/bots.md
Labels: documentation

#2504 tst: fix IP address and abuse contact of example.com
  intelmq/tests/bots/experts/ripe/test_expert.py
Labels: bug, component: tests

#2503 Added the auto_update parameter to the docs.
  docs/user/bots.md
Labels: bug, documentation

#2506 Timezone fix
  CHANGELOG.md
  intelmq/bots/collectors/shadowserver/collector_reports_api.py
Labels: component: bots
