Repository certtools/intelmq, pull requests merged in 2024-05, with the labels that each got.

#2498 tst: adapt IP address of example hostnames
  intelmq/tests/bots/experts/gethostbyname/test_expert.py
Labels: component: tests

#2495 Handle type parameter as a string and match by type instead of filena…
  CHANGELOG.md
  intelmq/bots/collectors/shadowserver/collector_reports_api.py
  intelmq/tests/bots/collectors/shadowserver/reports-list.json
Labels: bug, component: bots

#2494 FIX: handle init failure on incorrect current event
  CHANGELOG.md
  intelmq/bots/outputs/misp/output_feed.py
Labels: component: bots

#2485 Fixes #2484
  contrib/feeds-config-generator/intelmq_gen_feeds_conf
Labels: bug, documentation, component: contrib
