Repository certtools/intelmq, pull requests merged in 2024-07, with the labels that each got.

#2479 ignore user-generated docs files
  .github/workflows/build-docs.yml
  .gitignore
  docs/user/event.md
  docs/user/feeds.md
Labels: documentation

#2499 Filter expert: Docs fix, treat false as false for filter_regex and add logging
  CHANGELOG.md
  docs/user/bots.md
  intelmq/bots/experts/filter/expert.py
Labels: component: bots

#2507 ENH: utils: acquire groups of intelmq user in drop_privileges
  CHANGELOG.md
  intelmq/lib/utils.py
Labels: component: intelmqctl, component: core

#2511 mail attachment: Remove deprecated parameter attach_unzip from default parameters
  CHANGELOG.md
  intelmq/bots/collectors/mail/_lib.py
Labels: bug, component: bots
