Repository certtools/intelmq, pull requests merged in 2024-02, with the labels that each got.

#2449 FIX: Let modified_pulses_only can be changed
  CHANGELOG.md
  intelmq/bots/collectors/alienvault_otx/collector.py
Labels: bug, component: bots

#2456 FIX: Adds shadowserver parser update-schema cron job.
  debian/cron.d/intelmq-update-database
Labels: bug, packaging

#2448 FIX: Correctly configure SSL context for AMQP
  CHANGELOG.md
  intelmq/bots/collectors/amqp/collector_amqp.py
  intelmq/bots/outputs/amqptopic/output.py
  intelmq/lib/pipeline.py
Labels: bug, component: bots, component: core

#2457 Add extract_cve_from_tag to Shadowserver parser _config.py
  intelmq/bots/parsers/shadowserver/_config.py
Labels: component: bots

#2443 bug: ctl: handle non-existing bot modules
  intelmq/bin/intelmqctl.py
  intelmq/lib/utils.py
Labels: bug, component: core
