Repository certtools/intelmq, pull requests merged in 2025-04, with the labels that each got.

#2591 asn lookup db update: print urls only in verbose
  CHANGELOG.md
  intelmq/bots/experts/asn_lookup/expert.py
Labels: component: bots

#2602 Fix workflows: AMQP test skip, Update Ubuntu runner
  .github/workflows/codespell.yml
  .github/workflows/debian-package.yml
  .github/workflows/regexploit.yml
  CHANGELOG.md
  intelmq/tests/bots/collectors/http/test_collector.py
  intelmq/tests/bots/collectors/mail/test_collector_url.py
  intelmq/tests/lib/test_pipeline.py
Labels: component: tests

#2597 PostgreSQL: use JSONB for extra column
  CHANGELOG.md
  NEWS.md
  intelmq/bin/intelmq_psql_initdb.py
  intelmq/tests/bin/initdb.sql
  intelmq/tests/bin/initdb.sql.license
Labels: data-format

#2609 doc: Fix and refresh links to mailing lists
  CHANGELOG.md
  docs/dev/intro.md
  docs/help.md
  docs/index.md
  docs/user/bots.md
Labels: documentation
