Repository certtools/intelmq, pull requests merged in 2025-01, with the labels that each got.

#2538 Security.txt lookup expert
  CHANGELOG.md
  docs/user/bots.md
  intelmq/bots/experts/securitytxt/REQUIREMENTS.txt
  intelmq/bots/experts/securitytxt/__init__.py
  intelmq/bots/experts/securitytxt/expert.py
  intelmq/tests/bots/experts/securitytxt/__init__.py
  intelmq/tests/bots/experts/securitytxt/test_expert.py
Labels: component: bots

#2532 use PyMISP, ExpandedPyMISP is deprecated
  CHANGELOG.md
  intelmq/bots/collectors/misp/collector.py
  intelmq/bots/experts/misp/expert.py
Labels: component: bots

#2550 Update and fix modify bot docs
  docs/user/bots.md
Labels: documentation

#2547 docs: deb install: signed-by and wget, update postgres/eventdb docs
  CHANGELOG.md
  docs/admin/database/postgresql.md
  docs/admin/installation/linux-packages.md
Labels: documentation

#2549 sql output: handle empty string fields paramter
  CHANGELOG.md
  intelmq/bots/outputs/sql/output.py
Labels: bug, component: bots

#2557 Fix Tests, compatibility with Ubuntu 24.04
  .github/workflows/scripts/setup-full.sh
  CHANGELOG.md
  intelmq/tests/bots/experts/gethostbyname/test_expert.py
Labels: bug, component: tests

#2556 fix: mail url collector: import requests Timeout exception
  CHANGELOG.md
  intelmq/bots/collectors/mail/collector_mail_url.py
Labels: bug, component: bots

#2560 Docs: Add redis docs, fix existing pipeline docs, add unlinked file
  CHANGELOG.md
  docs/admin/beta-features.md
  docs/admin/configuration/intelmq.md
  docs/admin/configuration/redis.md
  docs/admin/management/intelmqctl-more.md
  intelmq/lib/pipeline.py
  mkdocs.yml
Labels: documentation
